* {
    margin: 0;
    padding: 0;
  }
  
  body {
      overflow: hidden;
    font-family: 'Oswald', sans-serif;
    background: #000;
  }
  
  .wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
  }
  
  .wrap h1 {
    font-size: 3em;
    background: #2e3192;
    background: linear-gradient(270deg, #2e3192, #1bffff, #fd16d7, #00ff6a, #00774f, #fcee21, #0f2f74, #00ccff);
    background-size: 1000% 1000%;
    -webkit-animation: GradientAnim 120s ease infinite;
    animation: GradientAnim 50s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @-webkit-keyframes GradientAnim {
      0%{background-position: 0% 50%}
      50%{background-position: 100% 50%}
      100%{background-position: 0% 50%}
  }
  
  @keyframes GradientAnim { 
      0%{background-position: 0% 50%}
      50%{background-position: 100% 50%}
      100%{background-position: 0% 50%}
  }
  body {
    margin: 0;
  }
  
  #canvas-container-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
  }
  
  #canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: #000000;
  }
  
  #restart-button-div {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50Px;
    background: white;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 100%;
  }
  
  #restart-icon {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate( -50%, -50% );
    width: 35px;
    height: 45px;
  }
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}