// Grid
@mixin grid($column) {
  width:(100% / 12) * $column;
}

// Transition Ease
@mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {font-family: 'Lato', sans-serif; font-weight:100;}
@mixin lato-1-i {@include lato-1; font-style:italic;}

@mixin lato-3 {font-family: 'Lato', sans-serif; font-weight:300;}
@mixin lato-3-i {@include lato-3; font-style:italic;}

@mixin lato-4 {font-family: 'Lato', sans-serif; font-weight:400;}
@mixin lato-4-i {@include lato-4; font-style:italic;}

@mixin lato-7 {font-family: 'Lato', sans-serif; font-weight:700;}
@mixin lato-7-i {@include lato-7; font-style:italic;}

@mixin lato-9 {font-family: 'Lato', sans-serif; font-weight:900;}
@mixin lato-9-i {@include lato-9; font-style:italic;}


// Colors
$blue:#313A3D;
$orange:#FD9638;
$dark-orange:darken($orange, 20%);
$grey:#B6B6B6;
$light-grey:lighten($grey, 15%);

$background:#efefef;
$field-color:#E8E9EA;
// Form
form {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
    @include grid(7);

    .field {
      text-align: center;
      display: inline-block;
        width:100%;
        position:relative;
        margin-bottom:1em;
        $hover-label-width:15%;
        $placeholder-bumper:1.5%;
        $label-padding:1.5em;

        // Label
        label {
          text-align: center;
          display: inline-block;
          padding-left: 1em !important;
          border-radius: 5px;
            text-transform: uppercase;
            position:absolute;
            top:0;
            left:0;
            background:$blue;
            width:100%;
            padding:($label-padding) 0;
            font-size: 1em;
            letter-spacing: 0.075em;

            @include ease(333ms);

            // Checkmark
            + span {
              border-radius: 25px;
                font-family: 'SSStandard';
                opacity: 0;
                color:white;
                display: block;
                position:absolute;
                top: 12px;
                left: 7%;
                font-size: 1em;
                text-shadow:1px 2px 0 $dark-orange;
                @include ease(333ms);
            }
        }

        // Fields
        input[type="text"],input[type="date"],input[type="number"],
        textarea {
            border:none;
            border-radius: 5px;
            background:$field-color;
            width:100% - $hover-label-width - $placeholder-bumper;
            padding:$label-padding 0;
            padding-left:$hover-label-width + $placeholder-bumper;
            color:$blue;
            font-size: 1em;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            &#msg {
              border-radius: 5px;
                height: 3em;
                padding-bottom: 3em;
                resize: none;
                @include ease(333ms);
            }

            // Focus and JS Toggle Class
            &:focus,
            &.focused {
                outline:none;
                &#msg {
                    padding-bottom:15em;
                }

                + label {
                    width:$hover-label-width;
                    background:$orange;
                    color:transparent;
                }
            }

            // JS Toggle Class
            &.focused {
                + label {
                    color: $orange;
                }
            }
        }

        // Field Hover
        &:hover {
            label {
                width:$hover-label-width;
                background:$blue;
                color:transparent;
            }
        }
    }

    // Submit Button
    input[type="submit"] {
      border-radius: 5px;
        background:$orange;
        color:white;
        -webkit-appearance: none;
        border: none;
        text-transform: uppercase;
  position:relative;
  margin-top: 1em;
      padding: 1em 50px;
      font-size: 1.4em;
      letter-spacing: 0.1em;
      @include lato-3;
      @include ease;
      
        &:hover {
            background:$blue;
            color:$orange;
        }

        &:focus {
            outline:none;
            background:$dark-orange;
        }
    }
}