// Custom extra larg button size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  &:hover {
    background:$cyan;
    color: black;
}
}
.btn-x2 {
  border: none !important;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  &:hover {
    background:$cyan !important;
    color: black !important;
}
}
// Custom social buttons
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

// Scroll to top button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  a {
    text-shadow: 0 0 3px black;
    width: 3.5rem;
    height: 3.5rem;
    background-color: fade-out($cyan2, 0.5);
    line-height: 3.1rem;
  }
}
