// Variables

// Set custom colors
$bleu1: #0B0C10 !default;
$bleu2: #1f2833 !default;
$gris: #c5c6c7 !default;
$cyan: #66fcf1 !default;
$cyan2: #45a29e !default;

// Override Bootstrap primary and secondary colors
$primary: $bleu1 !default;
$secondary: $bleu2 !default;
$textColor: $cyan !default;

// Override Bootstrap font variables
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;
$headings-font-weight: 700 !default;

// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;
